{% extends 'base.html' %}
{% block content %}

<h1>Products</h1>

<table class= "content-table">
<thead>
    <tr>
        <th>Name</th>
        <th></th> 
        <th>Manufacturer</th>
        <th></th>
        <th>Description</th>
        <th></th>
        <th>Quantity in Stock</th>
        <th></th> 
        <th>Cost to Purchase</th> 
        <th></th> 
        <th>Selling Price</th>
        <th></th>
        <th>Delete</th>
    </tr>
</thead>
    {% for product in products %}
    <form class="delete-form" action="/products/{{product.id}}/delete" method="POST">
    <tr>
        <td> <a href="/products/{{product.id }}"> {{product.name}}</a></td>
        <div class="buttons">
        <td></td>
        <td>{{ product.manufacturer.id}}</td> 
        <td></td>
        <td>{{ product.description }}</td>
        <td></td>
        <td>{{ product.quantity_in_stock }}</td>
        <td></td>
        <td>{{ product.cost_to_purchase }}</td>
        <td></td>
        <td>{{ product.selling_price }}</td>
        <td></td>
        <td><button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button></td>
        <!-- <td><a href="/products/{{product.id}}/edit">Edit</a></td> -->
    </tr>
</form>
    {% endfor %}
</table>
{% endblock  %}