{% extends 'base.html' %}
{% block content %}
 <div class="man_form">
<form action="/manufacturers" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
      </div>
     <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="description" required>
      </div>
    <button type="submit" class="manbutton">Add Manufacturer</button>
  </form>
</div>
{% endblock %}