
.addbutton{
    display: grid;
    justify-content: center;
    border:2;
    border-color: black;
    background-color:teal;
    color: white;
    padding: 1rem;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:1rem;
    text-transform:uppercase;
    vertical-align: center;
    margin-top: 10px;
    margin-left: 2px;
    position: relative;
    top: 10px;
    left: 1150px;
    }

@media (max-width: 350px){
        .addbutton{
          font-size: 15px;
          font-family: "Helvetica neue";
         
        }
    }
      
@media (max-width: 767px){
        .addbutton{
        font-size: 15px;
          font-family: "Helvetica neue";
         
    }
}
    
.manbutton {
    display:grid;
    justify-content: center;
    border:2;
    border-color: black;
    width: auto;
    background-color:teal;
    color: white;
    padding: 1rem;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:1rem;
    text-transform:uppercase;
    vertical-align: center;
    margin-top: 10px;
    margin-left: 2px;
    position: relative;
    top: 10px;
    left: 80px;
  }

@media (max-width: 350px){
    .manbutton{
      font-size: 15px;
      font-family: "Helvetica neue";
     
    }
}
  
@media (max-width: 767px){
    .manbutton{
    font-size: 15px;
      font-family: "Helvetica neue";
     
}
}
