.man_form{

    max-width: 500px;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:2rem auto;
    border: solid;
    border-color: rgb(12, 22, 22);
    background-color: white;
    padding: 50px;
}
@media (max-width: 350px){
    .man_form{
      font-size: 20px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
  }
  
  @media (max-width: 767px){
    .man_form{
        font-size: 20px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
   }
  
.prod_form{
    max-width: 500px;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:2rem auto;
    border: solid;
    border-color: rgb(12, 22, 22);
    background-color: white;
    padding: 50px;
}
@media (max-width: 350px){
    .prod_form{
      font-size: 20px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
  }
  
  @media (max-width: 767px){
    .prod_form{
        font-size: 20px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
   }

label{
 display:block;
 width: 100%;
 background-size: auto;
 block-size: 50px;
 font-family: 'Ubuntu';

}

input{
display:block;
width: 100%;
block-size: 50px;
font-size: 20px;
font-family: 'Ubuntu';
}   

.updateform{
    max-width: 400px;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:2rem auto;
    border: solid;
    border-color: rgb(12, 22, 22);
    background-color: white;
    padding: 20px;
}

@media (max-width: 350px){
    .updateform{
      font-size: 15px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
  }
  
  @media (max-width: 767px){
    .updateform{
        font-size: 15px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
   }


.manupdate{

    max-width: 500px;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin:2rem auto;
    border: solid;
    border-color: rgb(12, 22, 22);
    background-color: white;
    padding: 50px;

}
@media (max-width: 350px){
    .manupdate{
      font-size: 15px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
  }
  
  @media (max-width: 767px){
    .manupdate{
        font-size: 15px;
      font-family: "Helvetica neue";
      text-shadow: 0px 0px black ;
    }
   }



#dropdown{
        font-size: 30px;
        border-radius:30px;
        background-color: turquoise;
}
