body{
  background-image:url("/static/images/background.png");
  position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:  #0d5454;
  background-color: cadetblue;
  font-family: 'Ubuntu';
  padding: 0px;
  margin: 0px;
}

.header{

  /* width:100%;
  height: 140px; */
  display: grid;
  justify-content: center;
  background-color: #0d5454;
}

.innerheader{
  width: 1000px;
  height: 100;
  display: grid;
  margin: 0 auto;
  background: #0cabdb

}

.topline{
  height: 100%;
  display:grid;
  justify-content: center;
}

.topline h1{
  color: white;
  height: 100%;
  font-family: 'Helvetica neue';
  font-size: 40px;
  font-weight: 200;
}

.topline h1 span{
  font-weight: 800;
  
}
.navigation{
  display: inline-block;
  height: 100%;
}
.navigation li{
  display:inline-block;
  justify-content: left;
}

.navigation li a{
  color: aliceblue;
  font-family: 'Ubuntu';
  font-size: 30px;
  height: 100%;
  display: grid;
  justify-items: left;
  padding: 10px 10px;

}

h1{
display: flex;
color: floralwhite;
text-shadow: 2px 2px black ;
font-size: 60px;
font-weight: 900;
font-family: 'ubuntu';
margin: 20px;
padding: 20px;

}