
.content-table {
    border-style: solid;
    background-color: rgb(255, 250, 250);
    border: 2px solid black;
    font-family: 'Ubuntu';
    text-shadow: .5px .5px black ;
    table-layout: auto;
    margin: 50px 0;
    margin-left: 50px;
    font-size: 30px;
    margin: top right bottom left;
    min-width: 600px;
    padding-left: 20px;
    text-align: left;
    justify-content: center;

}
@media (max-width: 350px){
    .content-table {
    font-family: 'Helevtica neue';
    font-size: 10px;
    margin: 5px 0;
    margin-left: 5px;
    padding-left: 5px;   
    text-shadow: 0px 0px black ;
 }

}

@media (max-width: 767px){
    .content-table {
    font-family: 'Helevtica neue';
    font-size: 15px;
    margin: 5px 0;
    margin-left: 5px;
    padding-left: 5px;   
    text-shadow: 0px 0px black ;
 }

}



.content-table thead tr {
    background-color: #009879 ;
    color: #ffffff;
    text-align: left;
    font-family: 'Ubuntu';
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

.showproduct{
    font-family: 'Ubuntu';
    background-color: snow;
    margin: 50px 0;
    font-family: 'Ubuntu';
    font-size: 30px;
    min-width: 600px;
    padding-left: 20px;
    border: 6px solid black;
}
@media (max-width: 350px){
.showproduct{ 
    font-size: 10px;

}
}

.showproduct thead tr {
    background-color: #009879 ;
    color: #ffffff;
    text-align: left;
    font-family: 'Ubuntu';
}

.manufacturer-table {
    font-family: 'Ubuntu';
    background-color: snow;
    margin: 50px 0;
    font-family: 'Ubuntu';
    font-size: 30px;
    min-width: 600px;
    table-layout: auto;
    margin: 50px 0;
    margin-left: 50px;
    padding-left: 20px;
    border: 6px solid black;

}
@media (max-width: 350px){
    .manufacturer-table{ 
        font-size: 10px;
        width:100%;
        font-family: 'Helevtica neue';
        font-size: 10px;
        margin: 5px 0;
        margin-left: 5px;
        padding-left: 5px;   
        text-shadow: 0px 0px black ;
    }
}
    @media (max-width: 767px){
        .manufacturer-table {
        font-family: 'Helevtica neue';
        font-size: 15px;
        margin: 5px 0;
        margin-left: 5px;
        padding-left: 5px;   
        text-shadow: 0px 0px black ;
     }
    
}



.manufacturer-table thead tr {
    background-color: #009879 ;
    color: #ffffff;
    text-align: left;
    font-family: 'Ubuntu';
}

